{% extends 'base.html' %}
{% block content %}
<div class="wrap-login100 p-l-60 p-r-40 p-t-60 p-b-30">
<div class="form-group row">  
    <label class="col-sm-3 col-form-label"></label>  
    <h2>Hello User</h2>  
</div>  
<div>
<div class="container-login100-form-btn"> 
    <a href="/register">
    <button class="login100-form-btn" >register</button>
    </a>
</div >
<br>
<div>
<div class="container-login100-form-btn"> 
<a href="/signin">
<button class="login100-form-btn" >Login</button>
</a><br>
</div >
{% endblock %}