    {% extends 'base.html' %}
    {% block content %}
    <!DOCTYPE html>  
    <html lang="en">  
    <head>  
        <meta charset="UTF-8">  
        <title>Employee Records</title>  
    </head>  
    <body>  
    <table class="table table-striped table-bordered table-sm">  
        <thead class="thead-dark">  
        <tr>  
            <th>Employee First Name</th>  
            <th>Employee last  Name</th>  
            <th>Employee Id</th>  
            <th>Employee City</th>  
        </tr>  
        </thead>  
        <tbody>  
    {% for employee in employees %}  
        <tr>  
            <td>{{ employee.firstName}}</td>  
            <td>{{ employee.lastName }}</td>  
            <td>{{ employee.employeeId }}</td>  
            <td>{{ employee.city }}</td>  
        </tr>  
    {% endfor %}  
        </tbody>  
    </table>  
    <br>  
    <br>  
    <center><a href="/emp" class="btn btn-primary">Add New Record</a></center>  
    </body>  
    </html>  
    {% endblock %}